<!DOCTYPE html>
<html>
    <head>
        <script>
            alert("why, hello");
        </script>
    </head>
    <body>
        <ol>
        {{#question}}
        <li> {{{ content }}} </li>
        {{/question}}
        </ol>
    </body>
</html>

